﻿@model WebApplication4.User
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container checking-area">
    <div class="row">
        <div class="col-md-9 checkout-accordion">
            <div class="col-md-12 white-bg">
                <div class="bs-example">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Checkout Method</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in panel-body">
                                <div class="accordion-list-content" style="overflow: hidden; display: block;">
                                    <div class="col-md-12 check-name">
                                        <h4>returning costumer</h4>
                                        <div>
                                            <form class="form-horizontal" role="form" action="" method="post">
                                                <div class="form-group">
                                                    <label class="col-md-4">İsim</label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="Name" class="form-control" placeholder="İsim" value="@Model.Name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4">Email</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" name="Email" class="form-control" placeholder="Email" value="@Model.Email">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4">Parola</label>
                                                    <div class="col-sm-8">
                                                        <input type="password" name="Password" class="form-control" placeholder="Parola">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4">Adres</label>
                                                    <div class="col-sm-8">
                                                        <textarea class="form-control" name="Address" placeholder="Adres">@Model.Address</textarea>
                                                    </div>
                                                </div>
                                                <input type="submit" value="Güncelle" class="btn btn-primary" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>