﻿
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/Layout.cshtml";
}
    <!-- shop-page -->
    <div class="container checking-area">
        <div class="row">
            <div class="col-md-9 checkout-accordion">
                <div class="col-md-12 white-bg">
                    <div class="bs-example">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Checkout Method</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in panel-body">
                                    <div class="accordion-list-content" style="overflow: hidden; display: block;">
                                        <div class="col-md-6 check-name">
                                            <h4>returning costumer</h4>
                                            <div>
                                                <form class="form-horizontal" role="form" action="@Url.Content("~/User/Register")" method="post">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="text" name="Name" class="form-control" placeholder="İsim">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="email" name="Email" class="form-control" placeholder="Email">
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="password" name="Password" class="form-control" placeholder="Parola">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <textarea class="form-control" name="Address" placeholder="Adres"></textarea>
                                                        </div>
                                                    </div>
                                                    <input type="submit" value="Kaydol" class="btn btn-primary" />
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-6 check-name">
                                            <h4>returning costumer</h4>
                                            <div>
                                                <form class="form-horizontal" role="form" action="@Url.Content("~/User/Login")" method="post">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="email" name="Email" class="form-control" placeholder="Email Adresi">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="password" name="Password" class="form-control" placeholder="Parola">
                                                        </div>
                                                    </div>
                                                    <input type="submit" value="Giriş Yap" class="btn btn-primary" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!--prize-->