﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>delicio</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> 
    @if(IsSectionDefined("HeadCss"))
    {
        @RenderSection("HeadCss")
    }
</head>


<body>
    <!--top-strip-->
    <div class="top-strip">
        <div class="container">
            <div class="row">
                <div class="col-md-6 user">
                    <p>
                        ÇikolatanYanında'ya Hoşgeldiniz
                    </p>
                </div>
                <div class="col-md-6 language">
                    <ul>
                        @if (WebApplication4.Utilities.UserOperations.IsLogged(this.Context))
                        {

                            <li>@Html.ActionLink(Session["UserName"].ToString(), "Account", "User")</li>
                            <li>@Html.ActionLink("Çıkış", "Logout", "User")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Giris&Kaydol", "Login", "User")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--end-top-strip-->
    <!--navbar-->
    <div class="container header"> 
        <nav id="myNavbar" class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="C:\Users\Mert\Desktop\delicio\images\footer-logo" alt="logo"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    
                        <li class="active">@Html.ActionLink("Anasayfa","Index","Home")</li>
                        <li>@Html.ActionLink("Urunler","List","Product")</li>
                        @if (Session["UserID"] != null)
                        {
                            int cartCount = 0;
                            using (var context = new CYEntities())
                            {
                                int userID = Convert.ToInt32(Session["UserID"]);
                                List<CartProduct> cList = context.CartProducts.Where(p => p.UserID == userID && p.Status != 1).ToList();
                                foreach (var item in cList)
                                {
                                    cartCount += (int)item.Quantity;
                                }
                                if (cartCount > 0)
                                {
                                    <li>@Html.ActionLink("Sepetiniz("+cartCount+")", "List", "Cart")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Sepetiniz", "List", "Cart")</li>
                                }
                            }

                        }
                        @if (Session["UserID"] == null)
                        {
                            <li>@Html.ActionLink("Giris", "Login", "User")</li>
                        }
                        <li>@Html.ActionLink("Hakkımızda", "Hakkımızda", "Hakkımızda")</li>  
                        <li>@Html.ActionLink("İLETİSİM", "İletisim", "İletisim")</li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
    </div>
    @if (ViewBag.Result != null)
    {
        <div class="alert alert-danger" style="margin:20px;">
            <strong>Dikkat !</strong> @ViewBag.Result
        </div>
    }
    @RenderBody()
        <!--end-navbar-->
        <!--footer-->
    <div class="full-footer">
        <div class="container-full">
            <div class="container info">
                <div class="row">
                    <div class="col-md-4 addres">
                        <img src="images/footer-logo.png" alt="">
                        <h6>ÇikolatanYanında</h6>
                        <p>
                            Sakarya
                        </p>
                        <p>
                            Telefon 0123 32112332
                        </p>
                    </div>
                    <div class="col-md-2 account">
                        <h4>Hesabım</h4>
                        <ul>
                            <li><a href="#">Sepet</a></li>                          
                            <li><a href="#">Hesap</a></li>
                        </ul>
                    </div>
                  
                    <div class="col-md-4 about">
                        <h4>Hakkımızda</h4>
                        <p>
                            Dünyanın en iyi çikolatalarını sizin için bir araya getirdik.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--end-addres-->
        <div class="container">
            <div class="row bottom-strip">
                <div class="col-md-6 rights">
                    <p>
                        Tüm hakları saklıdır
                    </p>
                </div>
                <div class="col-md-6 social">
                    <ul>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-asterisk"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <!--end-footer-->
    
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizr.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
    </body>
</html>
