﻿@model List<Product>
@{
    ViewBag.Title = "Urunler";
    Layout = "~/Views/Shared/Layout.cshtml";
}
    <!-- shop-page -->
    <div class="container checking-area">
        <div class="row">
            <div class="col-md-9 cart-area">
                <div class="sixteen columns cart-section oflow">
                    <!-- Cart -->
                    <table class="table cart-table responsive-table" style="white-space:nowrap;">
                        <tr>
                            <th>
                                Resim
                            </th>
                            <th>
                                Adı
                            </th>
                            <th>
                                Ücret
                            </th>
                            <th>
                                Miktar
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@Url.Content(item.ImagePath)" style="width:200px;" alt="" />
                                </td>
                                <td class="cart-title">
                                    <a href="#">@item.Name</a>
                                </td>
                                <td>
                                    @item.Price TL
                                </td>
                                <td>
                                    <form action='@Url.Content("~/Cart/Add")' method="post">
                                        <div class="qtyminus">
                                        </div>
                                        <input type="hidden" name="productID" value="@item.ID" />
                                        <input type='text' name="quantity" value='1' class="qty" />
                                        <input type="submit" class="btn btn-primary" value="Ekle" style="margin-left:5px;" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <!-- Start -->
                <!-- end -->
            </div>
            <!-- Sidebar -->
           
        </div>
    </div>
