﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Çikolatan Yanında</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/product-slider.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
    <!--top-strip-->
    <div class="top-strip">
        <div class="container">
            <div class="row">
                <div class="col-md-6 user">
                    <p>
                      Çikolatan Yanında
                    </p>
                </div>
                <div class="col-md-6 language">
                    <ul>
                        <li><a href="#">Eng</a></li>
                        <li><a href="#">Tr</a></li>
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("Index", "Index", "Index")</li>
                        <li>@Html.ActionLink("Anasayfa", "Anasayfa", "Anasayfa")</li>
                        <li>@Html.ActionLink("Urunler","Urunler","Urunler")</li>
                        <li>@Html.ActionLink("Sepet", "Sepet", "Sepet")</li>
                        <li>@Html.ActionLink("Giris", "Giris", "Giris")</li>
                    </ul>
              
    @RenderBody()
    <div class="full-footer">
        <div class="container-full">
            <div class="container info">
                <div class="row">
                    <div class="col-md-4 addres">
                       
                        <h4>Çikolatan Yanında</h4>
                        <p>
                         Çikolata mah. Kakao cad. No:1 
                        </p>
                        <p>
                            SERDİVAN/SAKARYA
                        </p>
                    </div>
                    <div class="col-md-4 about">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Hakkımızda", "Hakkımızda", "Hakkımızda")</li>

                            <p>Yüzyıllardan beri süregelen tecrübelerimiz ve muhteşem, harika, olağanüstü altyapımızla Belçika'nın en iyi çikolataları bir tıkla kapınızda. </p>
                        </ul>
                            </div>
                  
                    <div class="col-md-4 contact-box">
                        <h4>Bize Ulaşın</h4>
                        <p> Gsm: 2549846156484654 </p>
                        <p>E-Posta: cikolatanyaninda@cikolata.com</p>
                        
                    </div>
                    <div class="col-md-4 social">
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </div>
                </div>
            </div>
        </div>
     
       
    </div>
  
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/product-slider.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/gmap3.min.js"></script>
    <script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/js/jquery.flexslider-min.js"></script>
    <script src="~/Scripts/js/jquery.flexslider.js"></script>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/jquery.nouislider.min.js"></script>
    <script src="~/Scripts/js/lightbox.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <script src="~/Scripts/js/script.js"></script>
    <script src="~/Scripts/js/waypoint.min.js"></script>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        // jQuery
        (function ($) {
            "use strict";
            $(document).ready(function () {
                // Main Slider
                $('.main-flexslider').flexslider({
                    directionNav: true,
                    controlNav: false,
                    animation: "fade",
                    slideshowSpeed: 7000,
                    prevText: "",
                    nextText: "",
                });
            });
        })(jQuery);
    </script>
   
</body>
</html>