﻿
@{
    ViewBag.Title = "Hakkımızda";
}

<h2>Hakkımızda</h2>

<!--Icon Blocks-->
<div class="container">
    <div class="icon-blocks">
        <div class="col-md-4">
            <p>
                <i class="fa fa-group"></i>personalized shop
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <i class="fa fa-bell"></i>email notification
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <i class="fa fa-globe"></i>worldwide shipping
            </p>
        </div>
    </div>
</div>
<!--end Icon Blocks-->
<!-- Team Members -->
<div class="container">
    <div class="row members">
        <div class="col-md-3 col-sm-6">
            <img src="images/member1.jpg" alt="img">
            <div class="text">
                <p>
                    Robb Walter
                </p>
                <span>
                    CEO
                </span>
                <div class="members-socials">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="images/member2.jpg" alt="img">
            <div class="text">
                <p>
                    Mike Smith
                </p>
                <span>
                    Designer
                </span>
                <div class="members-socials">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="images/member3.jpg" alt="img">
            <div class="text">
                <p>
                    Jonathan Doe
                </p>
                <span>
                    Front-End
                </span>
                <div class="members-socials">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="images/member4.jpg" alt="img">
            <div class="text">
                <p>
                    Steve Loyal
                </p>
                <span>
                    Back-End
                </span>
                <div class="members-socials">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row members">
        <div class="col-md-3 col-sm-6">
            <img src="images/member5.jpg" alt="img">
            <div class="text">
                <p>
                    Simon Jacobs
                </p>
                <span>
                    Marketing
                </span>
                <div class="members-socials">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="images/member6.jpg" alt="img">
            <div class="text">
                <p>
                    James Gordon
                </p>
                <span>
                    Support
                </span>
                <div class="members-socials">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="images/member7.jpg" alt="img">
            <div class="text">
                <p>
                    John Smith
                </p>
                <span>
                    Support
                </span>
                <div class="members-socials">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="images/member8.jpg" alt="img">
            <div class="text">
                <p>
                    Clark Johnson
                </p>
                <span>
                    Art Director
                </span>
                <div class="members-socials">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-articles-->
</body>
</html>