﻿
@{
    ViewBag.Title = "Urunler";
}

<h2>Urunler</h2>


<body>
    <div class="container">
    <div class="row articles">
                    <div class="col-md-4 col-sm-6">
                        <img src="images/product2.jpg" alt="">
                        <div class="text">
                            <a href="#">
                                <span>
                                    Mix of Chocolates
                                </span>
                            </a>
                            <p>
                                $ 23.00
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <img src="images/product3.jpg" alt="">
                        <div class="text">
                            <a href="#">
                                <span>
                                    Tasty Choco
                                </span>
                            </a>
                            <p>
                                $ 30.99
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <img src="images/product4.jpg" alt="">
                        <div class="text">
                            <a href="#">
                                <span>
                                    Whole Nuts
                                </span>
                            </a>
                            <p>
                                $ 27.00
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row articles">
                    <div class="col-md-4 col-sm-6">
                        <img src="images/product2.jpg" alt="">
                        <div class="text">
                            <a href="#">
                                <span>
                                    HazelNut Choco
                                </span>
                            </a>
                            <p>
                                $ 15.00
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <img src="images/product3.jpg" alt="">
                        <div class="text">
                            <a href="#">
                                <span>
                                    Tasty Cake
                                </span>
                            </a>
                            <p>
                                $ 19.00
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <img src="images/product4.jpg" alt="">
                        <div class="text">
                            <a href="#">
                                <span>
                                    SweetChok
                                </span>
                            </a>
                            <p>
                                $ 21.00
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row articles">
                    <div class="col-md-4 col-sm-6">
                        <img src="images/product2.jpg" alt="">
                        <div class="text">
                            <a href="#">
                                <span>
                                    Delicio Chocolate
                                </span>
                            </a>
                            <p>
                                $ 23.00
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <img src="images/product3.jpg" alt="">
                        <div class="text">
                            <a href="#">
                                <span>
                                    Rafaello
                                </span>
                            </a>
                            <p>
                                $ 46.00
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <img src="images/product4.jpg" alt="">
                        <div class="text">
                            <a href="#">
                                <span>
                                    Ferrero
                                </span>
                            </a>
                            <p>
                                $ 24.00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
   
   
</body>
</html>

