﻿
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section HeadCss {
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />  
}
@section Scripts {     
    <script src="~/Scripts/jquery.flexslider.js"></script>
    <script type="text/javascript">
        // jQuery
        (function ($) {
            "use strict";
            $(document).ready(function () {
                // Main Slider
                $('.main-flexslider').flexslider({
                    directionNav: true,
                    controlNav: false,
                    animation: "fade",
                    slideshowSpeed: 7000,
                    prevText: "",
                    nextText: "",
                });
            });
        })(jQuery);
    </script>
}

<div class="main-flexslider">
    <ul class="slides">
        <li class="slides">
            <img src="~/Content/img/AnasayfaSlider.jpg" alt="slide 01">
            <div class="slide-caption">
                <h2>Çikolatan Yanında</h2>
                <h2>Dünya Çikolataları</h2>
                <h2><a href="#">Tekliflerimiz</a></h2>
            </div>
        </li>
        <li class="slides">
            <img src="~/Content/img/slide-02.jpg" alt="slide 01">
            <div class="slide-caption">
                <h2>Çikolatan Yanında</h2>
                <h2>Dünya Çikolataları</h2>
                <h2><a href="#">Tekliflerimiz</a></h2>
            </div>
        </li>
        <li class="slides">
            <img src="~/Content/img/slide-03.jpg" alt="slide 01">
            <div class="slide-caption">
                <h2>Çikolatan Yanında</h2>
                <h2>Dünya Çikolataları</h2>
                <h2><a href="#">Tekliflerimiz</a></h2>
            </div>
        </li>
        <li class="slides">
            <img src="~/Content/img/slide-04.jpg" alt="slide 01">
            <div class="slide-caption">
                <h2>Çikolatan Yanında</h2>
                <h2>Dünya Çikolataları</h2>
                <h2><a href="#">Tekliflerimiz</a></h2>
            </div>
        </li>
    </ul>
</div>

<div class="container">
    <div class="icon-blocks">
        <div class="col-md-4">
            <p>
                <i class="fa fa-group"></i>personalized shop
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <i class="fa fa-bell"></i>email notification
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <i class="fa fa-globe"></i>worldwide shipping
            </p>
        </div>
    </div>
</div>