﻿@model List<CartProduct>
@{
    ViewBag.Title = "sepet";
    Layout = "~/Views/Shared/Layout.cshtml";
}

    <div class="container checking-area">
        <div class="row">
            <div class="col-md-9 cart-area">
                <div class="sixteen columns cart-section oflow">
                    <!-- Cart -->
                    <table class="table cart-table responsive-table" style="white-space:nowrap;">
                        <tr>
                            <th>
                                Resim
                            </th>
                            <th>
                                Ürün Adı
                            </th>
                            <th>
                                Ücret
                            </th>
                            <th>
                                Miktar
                            </th>
                            <th>
                                 Tutar
                            </th>
                            <th>
                            </th>
                        </tr>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@Url.Content(item.Product.ImagePath)" alt="" style="width:100px" />
                                    </td>
                                    <td class="cart-title">
                                        <a href="#">@item.Product.Name</a>
                                    </td>
                                    <td>
                                        @item.Product.Price TL
                                    </td>
                                    <td>
                                        <form action='Update' method="post">
                                            <input type="hidden" name="id" value="@item.ID" />
                                            <input type='text' name="quantity" value='@item.Quantity' class="qty" />
                                            <input type="submit" value="Güncelle" class="btn btn-primary" style="margin-left:10px;" />
                                        </form>
                                    </td>
                                    <td class="cart-total">
                                        @(item.Product.Price * item.Quantity)TL
                                    </td>
                                    <td>
                                        <form action='Remove' method="post">
                                            <input type="hidden" name="id" value="@item.ID" />
                                            <input type="submit" value="Sil" class="btn btn-danger" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        } else
                        {
                            <tr><td colspan="100%">Sepetinizde ürün bulunmuyor.</td></tr>
                        }
                    </table>
                    @if (Model != null && Model.Count > 0)
                    {
                        <a href="Buy" class="btn btn-primary btn-block">Satın Al</a>
                    }
                </div>
                <!-- Start -->
                <!-- end -->
            </div>
            <!-- Sidebar -->
           
        </div>
    </div>