﻿
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>delicio</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>

 
    <div class="container">
        <div class="row bottom-strip">
            <div class="col-md-6 rights">
                <p>
                    <h1>MERT DEMİRTÜRK</h1>
                    <h2>MERVE AYDIN</h2>
                </p>
            </div>

        </div>
    </div>
    </div>
    <!--end-footer-->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/jquery.nouislider.min.js"></script>
</body>
</html>