﻿
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>delicio</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>


    
    <!-- shop-page -->
    <div class="container">
        <div class="row content">
            <div class="col-md-9">
                <div class="map">
                </div>
                <div class="row contact-all">
                    <div class="triggerAnimation animated" data-animate="fadeInLeft">
                        <form id="contact-form">
                            <h1>contact us</h1>
                            <div class="text-fields">
                                <div class="float-input">
                                    <input name="name" id="name" type="text" placeholder="Name">
                                    <span><i class="fa fa-user"></i></span>
                                </div>
                                <div class="float-input">
                                    <input name="mail" id="mail" type="text" placeholder="e-mail">
                                    <span><i class="fa fa-envelope-o"></i></span>
                                </div>
                                <div class="float-input">
                                    <input name="website" id="website" type="text" placeholder="website">
                                    <span><i class="fa fa-link"></i></span>
                                </div>
                            </div>
                            <div class="submit-area">
                                <textarea name="comment" id="comment" placeholder="Message"></textarea>
                                <input type="submit" id="submit_contact" class="main-button" value="Send Now">
                                <div id="msg" class="message">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 shop-sidebar">
                <div class="sidebar-widgets">
                    <div class="row right-cal">
                        <h4>opening time</h4>
                        <ul>
                            <li><a href="#">Pazartesi<span>8am-5pm</span></a></li>
                            <li class="colored"><a href="#">Salı<span>8am-5pm</span></a></li>
                            <li><a href="#">Carsamba<span>8am-5pm</span></a></li>
                            <li class="colored"><a href="#">Persembe<span>8am-5pm</span></a></li>
                            <li><a href="#">Cuma<span>8am-5pm</span></a></li>
                            <li class="colored"><a href="#">Cumartesi<span>8am-5pm</span></a></li>
                            <li><a href="#">Pazar<span>8am-5pm</span></a></li>
                        </ul>
                    </div>
                    <div class="row right-inf">
                        <h4>contact ifno</h4>
                        <ul>
                            <li>
                                <p>
                                    CikolatanYaninda
                                </p>
                            </li>
                            <li>
                                <p>
                                    Sakarya
                                </p>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="#">T:0123 456 789</a></li>
                            <li><a href="#">F:0123 456 789</a></li>
                            <li><a href="#">E:info@chocco.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end-shop-page -->
    <!-- partners box -->

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/waypoint.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/gmap3.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>